<%=form_tag sessions_path do %>
<div class="signin-form">
  <label>Username</label>
    <%= text_field_tag :username %>
  <label>Password</label>
    <%= password_field_tag :password %>
  <label><%= submit_tag "Log In", class: "button submit"%></label>
</div>
<%end%>
